<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache,no-store,must-revalidate">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="x-rim-auto-match" content="none">
    <meta name="viewport"   content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name = "format-detection" content = "telephone=no">
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.6&key=1ba2cf2f967b745bc915b4f8b569b012"></script>
    <title>二维码及发票信息</title>
</head>
<body>
<div id="container"></div>
</body>
</html>
